<ion-view class="welcome" hide-nav-bar='true'>

    <ion-content>

        <div style="margin-top: 50px;text-align: center;">

            <h2 style="margin-top: 2px;">peanut butter</h2>
            <h2>jelly</h2>
            <h2>time</h2>

            <label class="item">
                <button class="button button-block button-positive" ng-click="facebookSignIn()">
                    Login with Facebook
                </button>
            </label>

        </div>

    </ion-content>

</ion-view>