<ion-view view-title="Stream">
	<ion-content>
	<ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
    	<!-- <ion-item  ng-repeat="thing in imgs"> -->
    		<div class="list card" ng-repeat="picture in pictures">
  				<div class="item item-avatar">
    				<img src="https://graph.facebook.com/{{picture.userid}}/picture?width=270&height=270">
    				<h2>{{(picture.name.split(" "))[0]}}</h2>
  				</div>

  				<div class="item item-image">
    				<img src={{picture.url}}>
  				</div>
  			</div>
    	<!-- </ion-item> -->
	</ion-list>
	</ion-content>
</ion-view>